@use postcss-mixins;
@use postcss-cssnext;
@use postcss-discard-comments(removeAll: true);
@use postcss-discard-empty;

:root {
  /* This comment should be removed */
  --result: "pass";
}

test {
  result: var(--result);
}

.test {
  result: "not prefixed";
}

.is-test {
  result: "not prefixed";
}

.has-test {
  result: "not prefixed";
}

.u-test {
  result: "prefixed";
}

.Test {
  result: "prefixed";
}

should-not-appear {}

@define-mixin foo {
  foo {
    bar: baz;
    @mixin-content;
  }
}

@mixin foo {
  bang: biz;
}

.foft {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
